.background-image {
    height: 1012px;
    background-size: cover;
    background-image: url("../img/section/section1.png");
}

.menu-nav {
    width: 1160px;
    margin: 0 auto;
    padding: 26px 0;
}

.main-menu {
    background: rgba(94, 93, 88, 0.6);
}

.fa-search {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.6);
}

.poligon {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 121px;
    height: 62px;
    background-color:  #18CFAB;
}

.poligon span {
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
}

.nav-item {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.nav-item:hover {
    color:  #18CFAB;
}

.nav-item-the {
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.nav-item-Ham {
    margin-right: 300px;
    color:  #18CFAB;
}

.menu-nav {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.text {
    text-transform: uppercase;
    margin: 264px auto;
    text-align: center;
}

.text-up {
    font-weight: bold;
    font-size: 35px;
    color: #FFFFFF;
    padding-bottom: 22px;
}

.text-up span {
    color:  #18CFAB;
}

.text-main {
    font-weight: bold;
    font-size: 78px;
    color: white;
    padding-bottom: 36px;
}

.text-down {
    font-weight: normal;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
    padding-bottom: 134px;
    text-transform: capitalize;
}

.button {
    display: flex;
    justify-content: center;
}

.first-button {
    margin-right: 26px;
    padding: 16px 18px;
    background-color: #18CFAB;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    border-top: 3px solid white;
    text-transform: uppercase;
}

.second-button {
    padding: 16px 18px;
    background-color: #00CBF6;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    border-top: 3px solid white;
}

.wrapper {
    display: flex;
    border-top: 3px solid white;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 100px;
}

.content-black {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 343px;
    background-color: #1C2A33;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #18CFAB;
}

.content-green {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: 343px;
    background-color: #18CFAB;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
}

.service {
    width: 1160px;
    margin: 85px auto;
}

.main-title {
    position: relative;
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
}

.main-title::before {
    display: block;
    content: "";
    position: absolute;
    width: 79px;
    height: 2px;
    background: #18CFAB;
    left: 47%;
    top: 55px;
}

.main-title::after {
    display: block;
    content: "";
    position: absolute;
    width: 79px;
    height: 2px;
    background: #18CFAB;
    left: 48%;
    top: 62px;
}

.tabs-title {
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
    background-color: #F8FCFE;
    color: #717171;;
    text-decoration: none;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    margin-top: 69px;
    margin-bottom: 23px;
    padding: 30px 39px;
}

.tabs-title.active {
    background: #18CFAB;
    color: #FFFFFF;
}

.tabs-picture {
    width: 192px;
    height: 139px;
    margin-right: 15px;
}

.tab-content {
    display: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.tab-content.active {
    display: flex;
}

.background-purchase {
    height: 476px;
    background-size: cover;
    background-image: url("../img/section/section2.png");
    padding-top: 126px;
}

.title-purchase {
    margin-top: 50px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
}

.title-purchase-under {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #D8D8D8;
    margin-bottom: 107px;
}

.work {
    background: #E9EDEF;
}

.work-title {
    padding-top: 95px;
    margin-bottom: 111px;
    position: relative;
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
}

.work-content {
    margin-top: -53px;
    margin-bottom: 71px;
}

.tab-work {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.0001);
    color: #717171;
    text-decoration: none;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    margin-top: 69px;
    margin-bottom: 23px;
    padding: 18px 34px;
}

.tabs-work {
    display: flex;
    justify-content: center;
}

.tab-work.active-work {
    border: 1px solid #18CFAB;
}

.raw-text {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
    margin-bottom: 10px;
}

.raw-text-under {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #8A8A8A;
}

.work-pictures {
    display: flex;
    /*grid-template-columns: repeat(4, 1fr);*/
    width: 1140px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.tab {
    display: none;
}

.tab.active {
    display: flex;
}

.raw-picture {
    width: 282px;
    height: 206px;
    position: relative;
    overflow: hidden;
}

.picture-raw {
    width: 282px;
    height: 206px;
}

.raw-picture:hover .raw-picture-white {
    top: 0;
    transition: 0.5s;
    border-top: 2px solid #18CFAB;
}

.raw-picture-white {
    position: absolute;
    width: 282px;
    height: 206px;
    background: #E9EDEF;
    top: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ourwork {
    display: none;
    width: 282px;
    height: 206px;
}

.ourwork.active-more {
    display: block;
}

.icon {
    margin-bottom: 30px;
}

.icon-link-square {
    background: #18CFAB;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 13px;
}

.icon-link-copy {
    background: #E9EDEF;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #18CFAB;
    font-size: 13px;
    border: 1px solid #18CFAB;
}

.load-button {
    padding: 16px 18px;
    background-color: #18CFAB;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.button-load {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 100px;
}

.plus {
    margin-right: 15px;
}

.work-title {
    position: relative;
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
}

.work-title::before {
    display: block;
    content: "";
    position: absolute;
    width: 79px;
    height: 2px;
    background: #18CFAB;
    left: 47%;
    top: 163px;
}

.work-title::after {
    display: block;
    content: "";
    position: absolute;
    width: 79px;
    height: 2px;
    background: #18CFAB;
    left: 48%;
    top: 167px;
}

.breaking-title {
    margin-top: 82px;
    margin-bottom: 100px;
    position: relative;
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
}

.breaking-title::before {
    display: block;
    content: "";
    position: absolute;
    width: 79px;
    height: 2px;
    background: #18CFAB;
    left: 47%;
    top: 55px;
}

.breaking-title::after {
    display: block;
    content: "";
    position: absolute;
    width: 79px;
    height: 2px;
    background: #18CFAB;
    left: 48%;
    top: 62px;
}

.picture-breaking {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    height: 418px;
    width: 1140px;
    margin: 0 auto;
}

.image-date {
    position: relative;
}

.picture-details {
    position: absolute;
    background: #203E38;
    padding: 19px 20px;
    top: 0;
    right: 22px;
    display: flex;
    flex-direction: column;
}

.picture-details:hover {
    background: #18CFAB;
    color: #FFFFFF;
}

.picture-date.picture-month {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.image-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    text-align: center;
    color:  #717171;
}

.image-title:hover {
    color: #18CFAB;

}

.post-title {
    font-weight: 300;
    line-height: 39px;
    text-align: center;
    color: #777;
}

.image-link {
    color: #FFFFFF;
    text-decoration: none;
}

.last-section {
    height: 853px;
    background-size: cover;
    background-image: url("../img/section/section3.png");
    margin-top: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: normal;
    padding-top: 98px;
    position: relative;
}

.last-title::before {
    display: block;
    content: "";
    position: absolute;
    width: 79px;
    height: 2px;
    background: #18CFAB;
    left: 47%;
    top: 156px;
}

.last-title::after {
    display: block;
    content: "";
    position: absolute;
    width: 79px;
    height: 2px;
    background: #18CFAB;
    left: 48%;
    top: 163px;
}

.last-picture {
    padding-top: 99px;
    padding-bottom: 36px;

}

.info-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #BBBBBB;
    width: 1030px;
    margin: 0 auto;
}

.info {
    display: none;
}

.info.active {
    display: flex;
}

.person-information {
    font-weight: 300;
    font-size: 16px;
    font-family: sans-serif;
    color: #BBBBBB;
    line-height: 30px;
}

.person-name {
    margin-top: 37px;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #18CFAB;
}

.person-profession {
    margin-top: 15px;
    margin-bottom: 38px;

}

.person-logo {
    border: 3px solid #18CFAB;
    box-shadow: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    margin-bottom: 56px;
    width: 142px;
    height: 142px;
}

.slider-navigation {
    display: flex;
    justify-content: space-between;
    width: 444px;
    align-items: center;
}

.slider-arrow-left, .slider-arrow-right{
    position: relative;
    width: 31px;
    height: 31px;
    background: none;
    border: 1px solid #BBBBBB;
}

.slider-arrow-left:hover, .slider-arrow-right:hover {
    background: #18CFAB;
}

.slider-arrow-left::before {
    content: "<";
    position: absolute;
    top: 6px;
    left: 10px;
    color: #BBBBBB;
}

.slider-arrow-left:hover::before {
    color: white;
}

.slider-arrow-right::after {
    content: ">";
    position: absolute;
    top: 6px;
    left: 10px;
    color: #BBBBBB;
}

.slider-arrow-right:hover::after {
    color: white;
}

.picture-nav {
    border: 2px solid #18CFAB;
    box-shadow: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    margin: 0 14px;
}

.picture-nav.active-image {
    transform: translateY(-10px);
}

.copyright {
    width: 100%;
    height: 121px;
    background: #22353F;
}

.copyright-footer {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
    margin-top: 3px;
    padding-top: 48px;
}