.main-background {
    height: 790px;
    background-size: cover;
    background-image: url("../img/background-image.png");
}

.menu {
    background-color: rgba(0,0,0,0.5);
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.menu-journey {
    display: inline-block;
    margin-left: 79px;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}

.menu-journey:hover {
    color: darkseagreen;
}

.icons {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/icons.png");
}

.icons.icons-calendar {
    background-position: -3px -34px;
    margin-right: 27px;
}

.icons.icons-calendar:hover {
    background-position: -6px 0;
}

.icons.icons-letter {
    background-position: -51px -34px;
    margin-right: 27px;
}

.icons.icons-letter:hover {
    background-position: -50px 0;
}

.icons.icons-compass {
    background-position: 38px -33px;
    margin-right: 25px;
}

.icons.icons-compass:hover {
    background-position: 37px 1px;
}

.login {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 15px;
    bottom: 6px;
}

.login::before {
    content: "|";
    position: absolute;
    height: 19px;
    color: #FFFFFF;
    left: -23px;
    top: -2px;
}

.login-green:hover {
    color: #3CB878;
}

.sing {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 79px;
    font-size: 14px;
    font-family: sans-serif;
    position: relative;
    bottom: 6px;
}

.title::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    left: -60px;
}

.saidbar {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.52);
    padding: 30px 0 15px;
}

.social-media {
    margin-top: 15px;
}

.title {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: #434343;
}

.subtitle {
    font-size: 14px;
    text-decoration: none;
    color: #3CB878;
}

.form {
    margin: 54px auto;
    background-color: #FFFFFF;
    width: 444px;
}

.container {
    width: 325px;
    margin: 0 auto 54px auto;
    text-align: center;
    padding-bottom: 38px;
}

.facebook-icon {
    position: relative;
    background-color: #305DB8;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 17px 25px 17px 60px;
    font-family: sans-serif;
    text-decoration: none;
}

.facebook-icon::before {
    content: "|";
    position: absolute;
    font-size: 25px;
    left: 40px;
    top: 11px;
}

.fa-facebook-f {
    position: absolute;
    left: 13px;
    font-size: 20px;
    top: 14px;
}

.google-icon {
    position: relative;
    background-color: #DF4A32;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 17px 25px 17px 85px;
    font-family: sans-serif;
    text-decoration: none;
}

.google-icon::before {
    content: "|";
    position: absolute;
    font-size: 25px;
    left: 44px;
    top: 11px;
}

.fa-google-plus-g {
    position: absolute;
    left: 15px;
    font-size: 21px;
    top: 14px;
}

.form-text {
    position: relative;
    margin-top: 40px;
    font-size: 14px;
    color: #848484;
}

.form-text:before {
    position: absolute;
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    left: 1px;
    top: 9px;
}

.form-text:after {
    position: absolute;
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    top: 9px;
    right: 2px;
}

.form-menu {
    line-height: 40px;
}

.input-first {
    width: 100%;
    padding: 16px 0 16px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0.5;
    border: 1px solid lightgray;
    margin-bottom: 15px;
    margin-top: 15px;
}

.input-first:focus {
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    font-weight: bold;
    outline: none;
}

.input-second  {
    width: 100%;
    padding: 16px 0 16px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0.5;
    border: 1px solid lightgray;
    margin-bottom: 15px;
}

.input-second:focus {
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    font-weight: bold;
    outline: none;
}

.input-third {
    width: 100%;
    padding: 16px 0 16px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0.5;
    border: 1px solid lightgray;
}

.input-third:focus {
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    font-weight: bold;
    outline: none;
}

.text-checkbox {
    color: #3CB878;
}

.text-checkbox:hover {
    text-decoration: underline;
}

.checkbox:checked,
.checkbox:not(:checked) {
    position: absolute;
    left: -9999px;
}
.checkbox:checked + .checkbox-label,
.checkbox:not(:checked) + .checkbox-label {
    display: inline-block;
    position: relative;
    margin-top: 22px;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
    font-size: 14px;
}
.checkbox:checked + .checkbox-label:before,
.checkbox:not(:checked) + .checkbox-label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    background-color: #ffffff;
}
.checkbox:checked + .checkbox-label:after,
.checkbox:not(:checked) + .checkbox-label:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
}
.checkbox:checked + .checkbox-label:after,
.checkbox:not(:checked) + .checkbox-label:after {
    left: 3px;
    top: 4px;
    width: 8px;
    height: 3px;
    border-radius: 1px;
    border-left: 4px solid #3cb878;
    border-bottom: 4px solid #3cb878;
    transform: rotate(-45deg);
}
.checkbox:not(:checked) + .checkbox-label:after {
    opacity: 0;
}
.checkbox:checked + .checkbox-label:after {
    opacity: 1;
}

.submit {
    background-color: #3CB878;
    color: #FFFFFF;
    padding: 16px 99px 16px 99px;
    border: 1px solid gray;
    border-radius: 4px;
}