.main-background {
    width: 100%;
    background-size: 100%;
    background-image: url("../img/background 1.png");
    padding-bottom: 15px;
}

.container {
    width: 1028px;
    margin: 0 auto;
}

.information {
    padding-top: 51px;
}

.logo {
    display: inline-block;
    float: left;
    background-image: url("../img/logo-white.png");
    width: 53px;
    height: 47px;
}

.logo:hover {
    display: inline-block;
    background-image: url("../img/logo-orange.png");
    width: 53px;
    height: 47px;
}

.header-title-link {
    display: block;
    font-size: 29px;
}

.header-title-link:hover {
    color: #F26522;
}

.header-subtitle-link {
    display: block;
    font-size: 18px;
    padding-top: 4px;
}

.header-subtitle-link:hover {
    color: #F26522;
}

.logo-text {
    display: inline-block;
    float: left;
    padding-left: 10px;
    color: #FFFFFF;
}

.email {
    float: right;
}

.email-text {
    float: right;
    color: #FFFFFF;
    margin-bottom: 19px;
}
.email-text:hover {
    cursor: pointer;
    color: #F26522;
}

.telephone {
    color: #FFFFFF;
    padding-left: 60px;
}

.telephone:hover {
    color: #F26522;
}

.picture {
    display: inline-block;
    margin-top: 22px;
    text-align: center;
}

.picture-left {
    float: left;
}

.picture-first {
    display: inline-block;
    position: relative;
    background-image: url("../img/Shopping Tours.png");
    height: 222px;
    width: 304px;
    overflow: hidden;
}

.picture-price {
    position: absolute;
    background-color: #F26522;
    width: 304px;
    height: 55px;
    bottom: -55px;
}

.picture-first:hover div {
    bottom: 0;
    transition: 0.5s;
}

.picture-details {
    display: block;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 12px;
}

.pd1 {
    margin-right: 257px;
    padding-bottom: 8px;
    font-size: 10px;
}

.pd2 {
    margin-right: 10px;
    font-size: 20px;
}

.pd3 {
    margin-left: 140px;
    font-size: 15px;
}

.pd3::after {
    content: ">";
    margin-left: 5px;
    opacity: 0.8;
}

.picture-tittle{
    margin-top: 20px;
    margin-bottom: 37px;
    text-align: center;
    color: #FFFFFF;
}

.picture-tittle:hover {
    color: #F26522;
}

.picture-second {
    display: inline-block;
    position: relative;
    background-image: url("../img/Bars & Nightlife.png");
    height: 222px;
    width: 304px;
    overflow: hidden;
}

.picture-second:hover div {
    bottom: 0;
    transition: 0.5s;
}

.picture-third {
    display: inline-block;
    position: relative;
    background-image: url("../img/Sightseeing Tours.png");
    height: 222px;
    width: 304px;
    overflow: hidden;
}

.picture-third:hover div {
    bottom: 0;
    transition: 0.5s;
}

.picture-fourth {
    display: inline-block;
    position: relative;
    background-image: url("../img/Art & Architecture.png");
    height: 222px;
    width: 304px;
    overflow: hidden;
}

.picture-fourth:hover div {
    bottom: 0;
    transition: 0.5s;
}

.picture-fifth {
    display: inline-block;
    position: relative;
    background-image: url("../img/Food Tours.png");
    height: 222px;
    width: 304px;
    overflow: hidden;
}

.picture-fifth:hover div {
    bottom: 0;
    transition: 0.5s;
}

.picture-sixth {
    display: inline-block;
    position: relative;
    background-image: url("../img/Walking Tours.png");
    height: 222px;
    width: 304px;
    overflow: hidden;
}

.picture-sixth:hover div {
    bottom: 0;
    transition: 0.5s;
}

.picture-center {
    margin-left: 61px;
}

.picture-right {
    float: right;
}

.footer-text {
    margin-top: 49px;
    margin-bottom: 15px;
    text-align: center;
    color: #FFFFFF;
}

.clearfix {
    content: "";
    clear: both;
}

