.page-tittle {
    font-size: 80px;
    margin: 61px 0 38px 0;
}

.page-tittle-blue {
    color: deepskyblue;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.navbar-list {
    list-style: none;
    text-align: center;
    background-color: #35444F;

}

.navbar-list-item {
    display: inline-block;
    font-size: 24px;
    color: #FFF;
    padding: 26px 33px;
}

.side-menu {
    list-style: none;
    border: 1px solid #000000;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    padding-left: 0;
}

.side-menu-item {
    padding: 25px 80px 25px 40px;
    font-size: 27px;
    color: #485863;
}

.content-wrapper {
    display: inline-block;
    margin: 50px 0 0 50px;
}

.main-img {
    padding: 75px 292px;
    border: 1px solid #000000;
    margin-bottom: 34px;
}

.paragraph {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    width: 885px;
    margin-bottom: 34px;
}

.footer {
    background: darkgray;
    width: 1280px;
    margin-bottom: 30px;
    margin-left: 100px;
    height: 70px;
}

.footer-menu-item {
    display: inline-block;
    font-size: 28px;
    color: #0C1927;
    margin-right: 30px;
}

.navbar-list-item:hover {
    background-color: #222F3A;
    cursor: pointer;
}

.side-menu-item:hover {
    background: #DBDBDB;
    color: #35444F;
    padding-left: 80px;
    padding-right: 40px;

}
.footer-menu-item:hover {
    color: cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
}

.footer-list {
    display: inline-block;
    margin-left: 40px;
    padding: 20px 0;
}

.copyright {
    display: inline-block;
    margin: 20px 40px 20px 82px;
    font-size: 28px;
    color: #0C1927;
}