.container {
    width: 1280px;
    margin: 0 auto;
}

.nav-item {
    padding: 26px 36px;
    color: red;
}

.main-nav {
    margin: 26px auto 0 auto;
    text-align: center;
}

.main-nav > li {
    display: inline-block;
}

.main-photo {
    margin-top: 26px;
}

.main-content-wrapper {
    margin: 48px auto 0 auto;
}

.main-content-wrapper >h3 {
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
}

.main-content-wrapper >p {
    width: 1145px;
    text-align: center;
    margin: 38px auto 0 auto;

}

.main-content-wrapper >button {
    background-color: #FF0000;
    color: white;
    padding: 18px 43px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    margin: 84px auto 59px;
    display: block;
}

.footer-text {
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    margin: 0 65px 29px 0;
    font-style: normal;
    color: #373737;
    font-weight: bold;
}

